[submodule "astro"]
	path = astro
	url = https://github.com/alexdz14/astro
[submodule "Django"]
	path = Django
	url = https://github.com/alexdz14/Django.git
[submodule "Next"]
	path = Next
	url = https://github.com/alexdz14/Next.git
[submodule "Angular"]
	path = Angular
	url = https://github.com/alexdz14/Angular
