<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
</head>
<body>
    <h1>Agregar producto</h1>
    <form action="/crear" method="POST">
        <input type="text" name="nombre" id="" placeholder="Nombre" required>
        <input type="number" name="precio" id="" placeholder="Precio" required>
        <input type="submit" value="Crear">
    </form>
    <!---Agregamos la ruta para edicion-->
    <h1>Lista de productos</h1>
    {% for producto in productos %}
    <li>{{producto.nombre}}: ${{producto.precio}}
    <a href="/editar/{{ producto['nombre'] }}/{{ producto['precio'] }}">Editar</a>
    <a href="/eliminar/{{producto['nombre'] }}" onclick="return confirm('¿Seguro que deseas eliminar?')">Eliminar</a>
        </li>
    {% endfor %}
</body>
</html>